body {
    font-family: 'Roboto', sans-serif;
    background-color: #726f69;
}

.navlogo {
    width: 60px;
}

.rounded-circle{
    border:2px solid;
    border-radius:50%;
    width:170;
    height:170px;
    color: white;
    }

.navbar a {
    color: #FFFFFF;
}

.dropdown-menu a {
    color: #000000;
}