body {
    font-family: 'Sono', sans-serif;
    background-color: #726f69;
}

.navlogo {
    width: 60px;
}

.rounded-circle{
    border:2px solid;
    border-radius:50%;
    width:170;
    height:170px;
    color: white;
    }

.navbar a {
    color: #FFFFFF;
}

.dropdown-menu a {
    color: #000000;
}

.nav-item .a {
    color: #FFFFFF;
}

.nav-item .a:hover {
    color: #585757;
}

#rcorners1 {
    border-radius: 25px;
    background: #ffffff;
    padding: 10px;
  }

#rcorners2 {
    border-radius: 25px;
  }

#nv {
    margin-left: 0;
}

#vd {
    margin-right: 0;
}